{#
/**
 * @file
 * Custom theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 * - home_link: A link to the home page for the order's user.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  {{ 'Your order number is @number.'|t({'@number': order_entity.getOrderNumber}) }} <br>
  {{ 'You can view your order on @home_link when logged in.'|t({'@home_link': home_link}) }} <br>

  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
</div>
