applications:
    register:
        type: 'php:8.3'
        relationships:
            db:
        runtime:
            extensions:
                - apcu
        variables:
            php:
                display_errors: Off
                display_startup_errors: Off
        mounts:
            '/web/sites/default/files': 'shared:files/files'
            '/tmp': 'shared:files/tmp'
            '/private': 'shared:files/private'
            '/.drush': 'shared:files/.drush'
            '/drush-backups': 'shared:files/drush-backups'
            '/.console': 'shared:files/console'
        build:
            flavor: none
        dependencies:
            php:
                composer/composer: '~2.7.0'
        hooks:
            build: |
                set -e
                composer --no-dev --no-ansi --no-interaction install --no-progress --prefer-dist --optimize-autoloader
                npm install
                npm run build
            deploy: |
                set -e
                cd web
                drush deploy
        web:
            locations:
                '/':
                    root: 'web'
                    expires: 1d
                    passthru: '/index.php'
                    allow: false
                    rules:
                        '\.(avif|webp|jpe?g|png|gif|svgz?|css|js|map|ico|bmp|eot|woff2?|otf|ttf)$':
                            allow: true
                        '^/robots\.txt$':
                            allow: true
                        '^/sitemap\.xml$':
                            allow: true
                        '^/sites/sites\.php$':
                            scripts: false
                        '^/sites/[^/]+/settings.*?\.php$':
                            scripts: false
                '/sites/default/files':
                    allow: true
                    expires: 5m
                    passthru: '/index.php'
                    root: 'web/sites/default/files'
                    scripts: false
                    rules:
                        '^/sites/default/files/(css|js)':
                            expires: 2w
        crons:
            drupal:
                # Run drush cron every five minutes
                spec: '*/5 * * * *'
                cmd: 'cd web ; drush core-cron'
            unclog:
                # Clear cron logs from watchdog every every 24 hours
                spec: '0 6 * * *'
                cmd: 'cd web ; drush watchdog-delete --type=cron'
        source:
            root: /
services:
    db:
        type: mariadb:10.6
routes:
    "https://{default}/":
        type: upstream
        upstream: "register:http"
        cache:
            enabled: false
        redirects:
            paths:
                '^/pay/(success|fail|cancel).*\.htm$':
                    to: 'https://{default}/commerce-freedompay/$1$is_args$args'
                    regexp: true
