applications:
    register:
        # The runtime the application uses.
        type: 'php:8.3'
        # The relationships of the application with services or other applications.
        #
        # The left-hand side is the name of the relationship as it will be exposed
        # to the application in the PLATFORM_RELATIONSHIPS variable. The right-hand
        # side is in the form `<service name>:<endpoint name>`.
        relationships:
            database: 'mysqldb:mysql'
        ## Uncomment this line to enable Redis caching for Drupal.
        #    redis: 'rediscache:redis'

        # Add additional PHP extensions.
        runtime:
            extensions:
                - apcu
        variables:
            php:
                display_errors: Off
                display_startup_errors: Off
        # The 'mounts' describe writable, persistent filesystem mounts in the application. The keys are
        # directory paths, relative to the application root. The values are strings such as
        # 'shared:files/PATH', where PATH is a relative path under the mount's source directory.
        mounts:
            '/web/sites/default/files': 'shared:files/files'
            '/tmp': 'shared:files/tmp'
            '/private': 'shared:files/private'
            '/.drush': 'shared:files/.drush'
            '/drush-backups': 'shared:files/drush-backups'
            '/.console': 'shared:files/console'
        # Configuration of the build of this application.
        build:
            flavor: none
        dependencies:
            php:
                composer/composer: '~2.7.0'
        # The hooks executed at various points in the lifecycle of the application.
        hooks:
            build: |
                curl -sS https://platform.sh/cli/installer | php
                set -e
                composer --no-dev --no-ansi --no-interaction install --no-progress --prefer-dist --optimize-autoloader
                npm install
                npm run build
            # The deploy hook runs after your application has been deployed and started.
            deploy: |
                set -e
                cd web
                drush deploy
        # The configuration of app when it is exposed to the web.
        web:
            # Specific parameters for different URL prefixes.
            locations:
                '/':
                    # The folder from which to serve static assets, for this location.
                    #
                    # This is a filesystem path, relative to the application root.
                    root: 'web'
                    # How long to allow static assets from this location to be cached.
                    #
                    # Can be a time in seconds, or -1 for no caching. Times can be
                    # suffixed with "s" (seconds), "m" (minutes), "h" (hours), "d"
                    # (days), "w" (weeks), "M" (months, as 30 days) or "y" (years, as
                    # 365 days).
                    expires: 1d
                    # Whether to forward disallowed and missing resources from this
                    # location to the application.
                    #
                    # Can be true, false or a URI path string.
                    passthru: '/index.php'
                    # Deny access to static files in this location.
                    allow: false
                    # Rules for specific URI patterns.
                    rules:
                        # Allow access to common static files.
                        '\.(jpe?g|png|gif|svgz?|css|js|map|ico|bmp|eot|woff2?|otf|ttf)$':
                            allow: true
                        '^/robots\.txt$':
                            allow: true
                        '^/sitemap\.xml$':
                            allow: true
                        # Deny direct access to configuration files.
                        '^/sites/sites\.php$':
                            scripts: false
                        '^/sites/[^/]+/settings.*?\.php$':
                            scripts: false
                '/sites/default/files':
                    # Allow access to all files in the public files directory.
                    allow: true
                    expires: 5m
                    passthru: '/index.php'
                    root: 'web/sites/default/files'
                    # Do not execute PHP scripts.
                    scripts: false
                    rules:
                        # Provide a longer TTL (2 weeks) for aggregated CSS and JS files.
                        '^/sites/default/files/(css|js)':
                            expires: 2w
        # The configuration of scheduled execution.
        crons:
            drupal:
                # Run drush cron every five minutes
                spec: '*/5 * * * *'
                cmd: 'cd web ; drush core-cron'
            snapshot:
                # Take a snapshot automatically every night at 5am (UTC). See
                # https://docs.platform.sh/administration/backup-and-restore.html#automated-backups
                # for more info about API tokens and configuration.
                spec: '0 5 * * *'
                cmd: |
                    if [ "$PLATFORM_BRANCH" = master ]; then
                      platform snapshot:create --yes --no-wait
                    fi
            unclog:
                # Clear cron logs from watchdog every every 24 hours
                spec: '0 6 * * *'
                cmd: 'cd web ; drush watchdog-delete --type=cron'
        source:
            root: /
services:
    mysqldb:
        type: mariadb:10.6
routes:
    "https://{default}/":
        type: upstream
        upstream: "register:http"
        cache:
            enabled: false
        redirects:
            paths:
                '^/pay/(success|fail|cancel).*\.htm$':
                    to: 'https://{default}/commerce-freedompay/$1$is_args$args'
                    regexp: true
