// This is an override for the 75th lockup
.cu-logo--ilr-lockup {
  @include breakpoint(md) {
    min-width: 400px;

    img {
      width: auto;
    }
  }

  img {
    max-width: none;
    width: 100%;
  }
}
