.field {
  &__label {
    --cu-font-weight: 400;
  }
}

.checkout-pane-order-summary .views-field-total-price__number {
  text-align: right;
  margin-bottom: var(--cu-vr1);
}

.views-field-participants .field--name-field-address p {
  margin: 0;
}

.order-total-line {
  padding: 0;
}

.groat-product-list {
  list-style-position: inside;
  text-indent: -1.25em;
  padding: 0 0 0 1.25em;

  div {
    display: inline;
  }
}

.marketing-link-block {
  list-style-type: none;
  display: inline-flex;
  gap: var(--cu-ps1);
  margin: 0 0 0 var(--cu-ps1);
  padding: var(--cu-vr-1) 0 var(--cu-vr1);

  .marketing-link-block__link {
    display: block;
    color: #6c6c6c;
    font-weight: 400;
  }

  li:last-child {
    padding-left: var(--cu-ps1);
    border-left: 1px solid #ccc;
  }
}
