.cu-input--submit.button, .cu-button {
  --cu-current-link-color: $black;

  border-width: 2px;
  border-style: solid;
  border-color: $cornell-red;
  padding: var(--cu-vr-4) var(--cu-ps-1);
  background: $white;
  display: inline-block;
  text-decoration: none;
}

.cu-input--submit.button--primary {
  color: white;
  border-color: $cornell-red;
  background: $cornell-red;
  padding: 0.5rem 1rem;
}

// Participant UI
// @todo consider how to better integrate with union
.field--name-participants.field--widget-inline-entity-form-complex {
  margin-bottom: 2rem;

  .ief-form-bottom.cu-fieldset {
    border: none;
    padding: 0;
  }

  .field--widget-boolean-checkbox {
    margin-bottom: var(--cu-vr-1);
  }

  .tabledrag-toggle-weight-wrapper,
  thead,
  .ief-tabledrag-handle {
    display: none;
  }

  .ief-entity-table {
    width: 100%;
  }

  .ief-row-entity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--cu-ps-1);
  }

  .ief-form-row {
    border-bottom: 1px solid $color-border;
    margin-bottom: var(--cu-ms-1);
    padding-bottom: var(--cu-ms1);
  }
}

.cu-fieldset {
  border: none;
  background: $gray-lightest;
  border: 1px solid $gray-light;
  border-radius: 3px;
  margin: 0 0 var(--cu-vr1);
}

.locked-cart-notice {
  border: 2px solid rgba(255, 217, 0, 0.75);
  background: rgba(255, 215, 0, .125);
  margin-bottom: var(--cu-vr1);
  padding: var(--cu-vr0) var(--cu-vr0) 0;
}

// Hide the radio button when there is only one variation available.
.field--widget-rendered-variations .cu-input-list__item {
  margin-left: 0;

  &:only-child {
    .cu-label {
      margin-left: 0;
    }

    .cu-input--radio {
      display: none;
    }
  }
}
