.cu-input--submit {
  border-width: 2px;
  padding: var(--cu-vr-4) var(--cu-ps-1);
}

// Participant UI
// @todo consider how to better integrate with union
.field--name-participants.field--widget-inline-entity-form-complex {
  margin-bottom: 2rem;

  .cu-fieldset {
    border: 1px solid $cornell-red;
    border-radius: 2px;
    margin: 0;
  }

  .ief-form-bottom.cu-fieldset {
    border: none;
    padding: 0;
  }

  .field--widget-boolean-checkbox {
    margin-bottom: var(--cu-vr-1);
  }

  .tabledrag-toggle-weight-wrapper,
  thead,
  .ief-tabledrag-handle {
    display: none;
  }

  .ief-entity-table {
    width: 100%;
  }

  .ief-row-entity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--cu-ps-1);
  }

  .ief-form-row {
    border-bottom: 1px solid $color-border;
    margin-bottom: var(--cu-ms-1);
    padding-bottom: var(--cu-ms1);
  }
}

