#block-union-register-main-nav {
  --cu-text-color: #{$black};
  --cu-font-size: var(--cu-ms-1);

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;

    li {
      margin-right: 1em;
    }
  }

  li:last-child {
    margin-right: 0;
  }
}

#block-union-register-footer-menu {
  --cu-text-color: #{$black};
  --cu-font-size: var(--cu-ms-1);

  ul {
    list-style: none;
    padding: 0;

    @include breakpoint(md) {
      display: flex;
    }

    li {
      padding: 0.5em 0;
      margin-right: 1em;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
