.cart--registration {
  .cart__items {
    list-style-type: none;
    padding: 0;

    .cart__item {
      display: grid;
      grid-gap: 1rem;
      padding: var(--cu-vr1) 0;
      border-bottom: 1px solid $color-border;
    }
  }
}

// Shows on the cart and summary
.views-field-participants {
  .participant>div {
    display: inline-block;
  }
}

// @todo fix once responsive strategy implemented
@media (min-width: 769px) {
  .cart--registration {
    .cart__item {
      grid-template-columns: 2fr 1fr;

      .cart-item__participants {
        grid-row: 2;
      }

      .views-field-remove-button {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
      }

      .views-field-total-price__number {
        justify-self: end;
      }
    }
  }
}

.checkout-complete,
.customer-information {
  .field {
    margin-bottom: var(--cu-vr1);
  }

  .field--name-field-address {
    margin: 0;

    p {
      margin: 0;
    }
  }
}

.order-information {
  @include breakpoint(md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .field--name-order-items {
      grid-column: 1/-1;
    }
  }
}

.order-total-line {
  display: grid;
  grid-template-columns: 3fr 4.5em;
  gap: var(--cu-ps-1);
  align-items: end;
  justify-items: right;
  margin-bottom: var(--cu-vr-1);
}

.order-total-line-label {
  display: inline-flex;
  align-items: flex-end;

  &::after {
    content: ':';
  }
}

.order-total-line-value {
  width: auto;
}

.coupon-redemption-form__coupons table {
  width: 100%;

  .cu-input {
    float: right;
    margin: 0;
  }
}

@media (min-width: 769px) {
  .checkout-complete__order {
    float: left;
    max-width: 50%;
    margin-right: 1em;
  }
}
