.checkout-progress {
  background-color: $gray-lightest;
  padding: 0.3em 0;
  display: flex;
  justify-content: space-between;

  &--step {
    display: flex;
    padding-left: 1rem;
    counter-increment: step-counter;
    text-indent: -1000px;
    overflow: hidden;

    @include breakpoint($medium) {
      text-indent: 0;
    }

    &::before {
      content: counter(step-counter);
      color: white;
      background: $gray-dark;
      display: flex;
      justify-content: center;
      margin-right: 0.5em;
      text-align: center;
      border-radius: 15px;
      width: 30px;
      height: 30px;
      text-indent: 0;
    }

    &__current {
      font-weight: inherit;
      display: flex;
      text-indent: 0;

      &::before {
        background: $cornell-red;
      }
    }
  }
}
