.layout-container--commerce {
  @include medium {
    grid-template-columns: [left-gutter] 1fr [content] 22fr [right-gutter] 1fr;
  }

  main {
    grid-column: content/right-gutter;
  }

  aside.layout-sidebar-first {
    grid-row: content-bottom;
    grid-column: content;
  }
}
